<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include('../pages/headerFiles')%>
</head>
<body>
<div class="site-preloader">
    <div class="car">
        <div class="strike"></div>
        <div class="strike strike2"></div>
        <div class="strike strike3"></div>
        <div class="strike strike4"></div>
        <div class="strike strike5"></div>
        <div class="car-detail spoiler"></div>
        <div class="car-detail back"></div>
        <div class="car-detail center"></div>
        <div class="car-detail center1"></div>
        <div class="car-detail front"></div>
        <div class="car-detail wheel"></div>
        <div class="car-detail wheel wheel2"></div>
    </div>
</div><!--/.site-preloader-->

<%-include('../pages/header_admin_signin')%>


<div class="slider-section">
    <div class="main-slider-2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-img"><img src="assets/img/slider-bg.jpg" alt="img" class="kenburns" style="animation-duration: 12000ms; "></div>
                <div class="slider-content-wrap d-flex align-items-center text-left">
                    <div class="container">
                        <div class="slider-content text-center pb-60">
                            <div class="slider-caption medium">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.3s">Travel securely with us!</div>
                                </div>
                            </div>
                            <div class="slider-caption big">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.5s">Book your taxi from <br>anywhare today!</div>
                                </div>
                            </div>
                            <div class="slider-caption small">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">Everything your taxi business needs is already here! <br>Ridek made for taxi service companies!</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-img"><img src="assets/img/slider-bg.jpg" alt="img" class="kenburns" style="animation-duration: 12000ms; "></div>
                <div class="slider-content-wrap d-flex align-items-center text-left">
                    <div class="container">
                        <div class="slider-content text-center pb-60">
                            <div class="slider-caption medium">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.3s">Travel securely with us!</div>
                                </div>
                            </div>
                            <div class="slider-caption big">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.5s">Book your taxi from <br>anywhare today!</div>
                                </div>
                            </div>
                            <div class="slider-caption small">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">Everything your taxi business needs is already here! <br>Ridek made for taxi service companies!</div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Arrows -->

    </div>
</div>



<section class="about-section padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-img">
                    <img class="about-img1 wow fade-in-left" data-wow-delay="200ms" src="assets/img/about-1.png" alt="img">
                    <img class="about-img2 wow fade-in-bottom" data-wow-delay="400ms" src="assets/img/about-2.png" alt="img">
                    <figure class="round-text"><img src="assets/img/experience-text-round.png" alt="img"></figure>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-heading mb-40 wow fade-in-right" data-wow-delay="200ms">
                    <h4><span></span>About Our Company</h4>
                    <h2>Feel the difference and Relaxation with Ridek Taxi Company!</h2>
                    <p>We successfully cope with tasks of varying complexity, provide long-term guarantees and
                        regularly master new technologies. Our portfolio includes dozens of successfully completed
                        projects of houses of different storeys, with high–quality finishes and good repairs. Book
                        your taxi from anywhare today!</p>
                </div>
                <!--/.section-heading-->
                <ul class="about-info wow fade-in-right" data-wow-delay="400ms">
                    <li>
                        <img class="owner-thumb" src="assets/img/navnoor3.png" alt="thumb">
                        <div class="owner">
                            <h4>Founder - CEO</h4>
                            <img class="signature" src="assets/img/signature.png" alt="signature">
                        </div>
                    </li>
                    <li>
                        <h2><span>Call For Taxi</span><a href="tel:5267214392">5267-214-392</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-section bd-bottom bg-grey">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-heading mb-10">
                    <h4><span></span>Clients Testimonial</h4>
                    <h2>Ridek Passenger Reviews...</h2>
                    <p>We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master technologies.</p>
                </div>
                <div class="swiper-outside testi-pagination">
                    <div class="testimonial-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                                    <div class="testi-author">
                                        <div class="author-thumb"><img src="assets/img/comment-1.png" alt="author"></div>
                                        <div class="author-info">
                                            <h3>Eredrik Johanson <span>Financial .INC</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                                    <div class="testi-author">
                                        <div class="author-thumb"><img src="assets/img/comment-1.png" alt="author"></div>
                                        <div class="author-info">
                                            <h3>Eredrik Johanson <span>Financial .INC</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                                    <div class="testi-author">
                                        <div class="author-thumb"><img src="assets/img/comment-1.png" alt="author"></div>
                                        <div class="author-info">
                                            <h3>Eredrik Johanson <span>Financial .INC</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div><!-- Carousel Dots -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-wrap">
                    <div class="section-heading mb-30 wow fade-in-right" data-wow-delay="200ms">
                        <h4 class="white"><span></span>Why Choose Us!</h4>
                        <h2 class="white">Why Ride with Ridek?</h2>
                        <p class="white">We successfully cope with tasks of varying complexity, provide long-term
                            guarantees and regularly master technologies.</p>
                    </div>
                    <!--/.section-heading-->
                    <ul class="ridek-features">
                        <li class="wow fade-in-right" data-wow-delay="300ms">
                            <div class="feature-icon">
                                <i class="las la-gem"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Safe Guarantee</h3>
                                <p>We successfully cope with tasks of <br> varying complexity!</p>
                            </div>
                        </li>
                        <li class="wow fade-in-right" data-wow-delay="400ms">
                            <div class="feature-icon">
                                <i class="las la-taxi"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Fast Pickups</h3>
                                <p>We successfully cope with tasks of <br> varying complexity!</p>
                            </div>
                        </li>
                        <li class="wow fade-in-right" data-wow-delay="500ms">
                            <div class="feature-icon">
                                <i class="las la-tachometer-alt"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Quick Ride</h3>
                                <p>We successfully cope with tasks of <br> varying complexity!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


<%-include('../pages/footer')%>

<%-include('../pages/scripts')%>

</body>
</html>