<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include('../pages/headerFiles')%>
</head>
<body>
<div class="site-preloader">
    <div class="car">
        <div class="strike"></div>
        <div class="strike strike2"></div>
        <div class="strike strike3"></div>
        <div class="strike strike4"></div>
        <div class="strike strike5"></div>
        <div class="car-detail spoiler"></div>
        <div class="car-detail back"></div>
        <div class="car-detail center"></div>
        <div class="car-detail center1"></div>
        <div class="car-detail front"></div>
        <div class="car-detail wheel"></div>
        <div class="car-detail wheel wheel2"></div>
    </div>
</div><!--/.site-preloader-->

<%-include('../pages/header')%>


<div class="slider-section">
    <div class="main-slider-2">
        <div class="swiper-wrapper">
            <div class="swiper-slide">
                <div class="slider-img"><img src="assets/img/slider-bg.jpg" alt="img" class="kenburns" style="animation-duration: 12000ms; "></div>
                <div class="slider-content-wrap d-flex align-items-center text-left">
                    <div class="container">
                        <div class="slider-content text-center pb-60">
                            <div class="slider-caption medium">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.3s">Travel securely with us!</div>
                                </div>
                            </div>
                            <div class="slider-caption big">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.5s">Book your taxi from <br>anywhare today!</div>
                                </div>
                            </div>
                            <div class="slider-caption small">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">Everything your taxi business needs is already here! <br>Ridek made for taxi service companies!</div>
                                </div>
                            </div>
                            <div class="slider-btn">
                                <a href="/signin" class="default-btn" data-animation="fade-in-bottom" data-delay="0.9s">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-slide">
                <div class="slider-img"><img src="assets/img/slider-bg.jpg" alt="img" class="kenburns" style="animation-duration: 12000ms; "></div>
                <div class="slider-content-wrap d-flex align-items-center text-left">
                    <div class="container">
                        <div class="slider-content text-center pb-60">
                            <div class="slider-caption medium">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.3s">Travel securely with us!</div>
                                </div>
                            </div>
                            <div class="slider-caption big">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.5s">Book your taxi from <br>anywhare today!</div>
                                </div>
                            </div>
                            <div class="slider-caption small">
                                <div class="inner-layer">
                                    <div data-animation="fade-in-bottom" data-delay="0.7s" data-duration="1s">Everything your taxi business needs is already here! <br>Ridek made for taxi service companies!</div>
                                </div>
                            </div>
                            <div class="slider-btn">
                                <a href="/signin" class="default-btn" data-animation="fade-in-bottom" data-delay="0.9s">Book Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Slider Arrows -->
        <div class="swiper-nav swiper-next"><i class="las la-long-arrow-alt-right"></i></div>
        <div class="swiper-nav swiper-prev"><i class="las la-long-arrow-alt-left"></i></div>
    </div>
</div>


<section class="booking-section-2">
    <div class="container">
        <div class="row booking-form-2 g-0">
            <div class="col-md-4 d-none d-lg-block">
                <div class="booking-car-wrap">
                    <div class="booking-car wow fade-in-left" data-wow-delay="200ms"></div>
                </div>
            </div>
            <div class="col-lg-8">
                <div class="section-heading mb-30">
                    <h2 class="white">Sign Up Today</h2>
                </div>
                <form id="SignUpform">
                    <div class="booking-form">
                        <div class="form-field">
                            <i class="las la-user-tie"></i>
                            <input type="text" id="firstName" name="firstName" class="form-control" placeholder="Your First Name" required>
                        </div>
                        <div class="form-field">
                            <i class="las la-user-tie"></i>
                            <input type="text" id="lastName" name="lastName" class="form-control" placeholder="Your Last Name" required>
                        </div>
                        <div class="form-field">
                            <i class="las la-envelope-open"></i>
                            <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                        </div>
                        <div class="form-field">
                            <i class="las la-user-secret"></i>
                            <input type="password" id="password" name="password" class="form-control" placeholder="Set Password" required>
                        </div>
                        <div class="form-field">
                            <i class="las la-user-tie"></i>
                            <input type="tel" id="phoneNumber" name="phoneNumber" class="form-control" placeholder="Phone Number" required>
                        </div>

                        <div class="form-field">
                            <i class="las la-tags"></i>
                            <select name="package-type" id="gender" class="niceSelect">
                                <option value="Male">Male</option>
                                <option value="Female">Female</option>

                            </select>
                        </div>


                        <div class="form-field">
                            <button onclick="signUp()" type="button" class="default-btn" >Sign Up</button>
                        </div>



                        <div class="form-field">
                            <a href="/signin"><button  type="button" class="default-btn" >Already a user?</button></a>
                        </div>




                    </div>
                    <div id="form-messages" class="alert" role="alert"></div>
                </form><!-- Booking Form -->
            </div>
        </div>
    </div>
</section>

<section class="cta-section-2 padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-4">
                <div class="cta-content">
                    <h4>Ridek Taxi Services!</h4>
                    <h2>Feel your journey with Ridek!</h2>
                    <a href="/signin" class="default-btn">Book a Taxi</a>
                </div>
            </div>
            <div class="col-lg-5">
                <ul class="check-list">
                    <li><i class="las la-arrow-right"></i>Easy payment systems.</li>
                    <li><i class="las la-arrow-right"></i>Make safety a top priority.</li>
                    <li><i class="las la-arrow-right"></i>First and quick pickups.</li>
                    <li><i class="las la-arrow-right"></i>Access Ridek globally.</li>
                </ul>
            </div>
            <div class="col-lg-3">
                <div class="cta-men wow fade-in-right" data-wow-delay="200ms"> </div>
            </div>
        </div>
    </div>
</section>



<section class="about-section padding">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-md-6">
                <div class="about-img">
                    <img class="about-img1 wow fade-in-left" data-wow-delay="200ms" src="assets/img/about-1.png" alt="img">
                    <img class="about-img2 wow fade-in-bottom" data-wow-delay="400ms" src="assets/img/about-2.png" alt="img">
                    <figure class="round-text"><img src="assets/img/experience-text-round.png" alt="img"></figure>
                </div>
            </div>
            <div class="col-md-6">
                <div class="section-heading mb-40 wow fade-in-right" data-wow-delay="200ms">
                    <h4><span></span>About Our Company</h4>
                    <h2>Feel the difference and Relaxation with Ridek Taxi Company!</h2>
                    <p>We successfully cope with tasks of varying complexity, provide long-term guarantees and
                        regularly master new technologies. Our portfolio includes dozens of successfully completed
                        projects of houses of different storeys, with high–quality finishes and good repairs. Book
                        your taxi from anywhare today!</p>
                </div>
                <!--/.section-heading-->
                <ul class="about-info wow fade-in-right" data-wow-delay="400ms">
                    <li>
                        <img class="owner-thumb" src="assets/img/navnoor3.png" alt="thumb">
                        <div class="owner">
                            <h4>Founder - CEO</h4>
                            <img class="signature" src="assets/img/signature.png" alt="signature">
                        </div>
                    </li>
                    <li>
                        <h2><span>Call For Taxi</span><a href="tel:5267214392">5267-214-392</a></h2>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="testimonial-section bd-bottom bg-grey">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="section-heading mb-10">
                    <h4><span></span>Clients Testimonial</h4>
                    <h2>Ridek Passenger Reviews...</h2>
                    <p>We successfully cope with tasks of varying complexity, provide long-term guarantees and regularly master technologies.</p>
                </div>
                <div class="swiper-outside testi-pagination">
                    <div class="testimonial-carousel">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                                    <div class="testi-author">
                                        <div class="author-thumb"><img src="assets/img/comment-1.png" alt="author"></div>
                                        <div class="author-info">
                                            <h3>Eredrik Johanson <span>Financial .INC</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                                    <div class="testi-author">
                                        <div class="author-thumb"><img src="assets/img/comment-1.png" alt="author"></div>
                                        <div class="author-info">
                                            <h3>Eredrik Johanson <span>Financial .INC</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="testi-item">
                                    <div class="quote-icon"><i class="las la-quote-right"></i></div>
                                    <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                                    <div class="testi-author">
                                        <div class="author-thumb"><img src="assets/img/comment-1.png" alt="author"></div>
                                        <div class="author-info">
                                            <h3>Eredrik Johanson <span>Financial .INC</span></h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination"></div><!-- Carousel Dots -->
                </div>
            </div>
            <div class="col-lg-6">
                <div class="feature-wrap">
                    <div class="section-heading mb-30 wow fade-in-right" data-wow-delay="200ms">
                        <h4 class="white"><span></span>Why Choose Us!</h4>
                        <h2 class="white">Why Ride with Ridek?</h2>
                        <p class="white">We successfully cope with tasks of varying complexity, provide long-term
                            guarantees and regularly master technologies.</p>
                    </div>
                    <!--/.section-heading-->
                    <ul class="ridek-features">
                        <li class="wow fade-in-right" data-wow-delay="300ms">
                            <div class="feature-icon">
                                <i class="las la-gem"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Safe Guarantee</h3>
                                <p>We successfully cope with tasks of <br> varying complexity!</p>
                            </div>
                        </li>
                        <li class="wow fade-in-right" data-wow-delay="400ms">
                            <div class="feature-icon">
                                <i class="las la-taxi"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Fast Pickups</h3>
                                <p>We successfully cope with tasks of <br> varying complexity!</p>
                            </div>
                        </li>
                        <li class="wow fade-in-right" data-wow-delay="500ms">
                            <div class="feature-icon">
                                <i class="las la-tachometer-alt"></i>
                            </div>
                            <div class="feature-content">
                                <h3>Quick Ride</h3>
                                <p>We successfully cope with tasks of <br> varying complexity!</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>



<%-include('../pages/footer')%>

<%-include('../pages/scripts')%>

<script>
    function signUp() {
        $("#SignUpform").validate();
        if ($("#SignUpform").valid()) {

            let firstName = document.getElementById("firstName").value
            let lastName = document.getElementById("lastName").value
            let email = document.getElementById("email").value
            let password = document.getElementById("password").value
            let phoneNumber = document.getElementById("phoneNumber").value
            let gender = document.getElementById("gender").value
            let fd = new FormData();
            fd.append("firstName",firstName)
            fd.append("lastName",lastName)
            fd.append("email",email)
            fd.append("password",password)
            fd.append("phoneNumber",phoneNumber)
            fd.append("gender",gender)



            // console.log(fd)
            fetch("/signupAction", {
                method: "POST", body: fd
            }).then(res => res.json())
                .then(res => {
                    console.log(res)
                    if (res.error === true) {
                        swal.fire({
                            icon: "error",
                            title: res.message,
                        })
                    } else {
                        document.getElementById("SignUpform").reset();
                        swal.fire({
                            icon: "success",
                            title: res.message,
                            timer: 1500
                        }).then(()=>{
                            window.location.href = "/user-dashboard2"
                        })

                    }
                }).catch((e)=>{
                console.log(e)
            })
        }
    }


</script>
</body>
</html>