<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include('../pages/headerFiles')%>
</head>

<body>


<div class="site-preloader">
    <div class="car">
        <div class="strike"></div>
        <div class="strike strike2"></div>
        <div class="strike strike3"></div>
        <div class="strike strike4"></div>
        <div class="strike strike5"></div>
        <div class="car-detail spoiler"></div>
        <div class="car-detail back"></div>
        <div class="car-detail center"></div>
        <div class="car-detail center1"></div>
        <div class="car-detail front"></div>
        <div class="car-detail wheel"></div>
        <div class="car-detail wheel wheel2"></div>
    </div>
</div>
<!--/.site-preloader-->

<%-include('../pages/header')%>
<!--/.main-header-->

<div id="popup-search-box">
    <div class="box-inner-wrap d-flex align-items-center">
        <form id="form" action="#" method="get" role="search">
            <input id="popup-search" type="text" name="s" placeholder="Type keywords here..." />
            <button id="popup-search-button" type="submit" name="submit">
                <i class="las la-search"></i>
            </button>
        </form>
        <div class="search-close"><i class="las la-times"></i></div>
    </div>
</div>
<!--/.popupsearch-box-->
<div id="searchbox-overlay"></div>

<div id="popup-sidebox" class="popup-sidebox">
    <div class="sidebox-content">
        <div class="site-logo">
            <a href="/home2"><img src="assets/img/logo-light.png" alt="logo" /></a>
        </div>
        <p>Everything your taxi business needs is already here! Ridek, a theme
            made for taxi service companies.</p>
        <ul class="sidebox-list">
            <li class="call"><span>Call for ride:</span>5267-214-392</li>
            <li>
                <span>You can find us at:</span>Halk Street New York, USA - 2386
            </li>
            <li><span>Email now:</span>Info.ridek@mail.com</li>
        </ul>
    </div>
</div>
<!--/.popup-sidebox-->
<div id="sidebox-overlay"></div>

<section class="page-header">
    <div class="page-header-shape"></div>
    <div class="container">
        <div class="page-header-info">
            <h4>Service Details!</h4>
            <h2>Feel your journey <br> with <span>Ridek!</span></h2>
            <p>Everything your taxi business <br>needs is already here! </p>
        </div>
    </div>
</section>
<!--/.page-header-->

<section class="service-details bg-grey padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 sm-padding">
                <div class="service-details-info">
                    <img src="assets/img/post-2.jpg" alt="img">
                    <h2>Comfortable Business Transport Services!</h2>
                    <p>Financial experts support or help you to to find out which way you can raise your funds more. Arkit a trusted name for providing assistants. Initially their main objective was to ensure the service they provide these people are loyal to their industry.</p>
                    <p>Unless you are the one who really cares about this, it is not terribly important. What all matters are how your hybrid mobile application development is going to work in the long run as no one will care about how it was built.</p>
                    <ul class="service-features">
                        <li>
                            <div><i class="las la-shipping-fast"></i></div>
                            <div>
                                <h3>Fast &amp; Easy Pickups</h3>
                                <p>Everything your taxi business needs is already here!</p>
                            </div>
                        </li>
                        <li>
                            <div><i class="las la-taxi"></i></div>
                            <div>
                                <h3>Instant Car Provide</h3>
                                <p>Everything your taxi business needs is already here!</p>
                            </div>
                        </li>
                        <li>
                            <div><i class="las la-tachometer-alt"></i></div>
                            <div>
                                <h3>Save Expert Drive</h3>
                                <p>Everything your taxi business needs is already here!</p>
                            </div>
                        </li>
                        <li>
                            <div><i class="las la-user-astronaut"></i></div>
                            <div>
                                <h3>24/7 Support</h3>
                                <p>Everything your taxi business needs is already here!</p>
                            </div>
                        </li>
                    </ul>
                    <p>There are some big shifts taking place in the field of construction equipment mathematics. Starting with the integration of mathematics devices in vehicles right from manufacturers, to the standardization and integration of mathematics data across various business functions, the future of mathematics.</p>
                    <div class="service-details-list ">
                        <img src="assets/img/post-1.jpg" alt="img">
                        <div>
                            <h3>Passenger Benefits!</h3>
                            <p>Everything your taxi business needs is already here!</p>
                            <ul class="service-icon-list">
                                <li><i class="las la-hand-point-right"></i>Use the latest diagnostic equipment.</li>
                                <li><i class="las la-hand-point-right"></i>Automotive service for our clients.</li>
                                <li><i class="las la-hand-point-right"></i>Quick dedicated support team.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 sm-padding">
                <div class="service-sidebar sidebar-widget">
                    <div class="widget-title service-widget">
                        <h3>Types of Services</h3>
                    </div>
                    <ul>
                        <li><a href="#">Regular Transport</a><i class="las la-arrow-right"></i></li>
                        <li><a href="#">City Transport</a><i class="las la-arrow-right"></i></li>
                        <li><a href="#">Airport Transport</a><i class="las la-arrow-right"></i></li>
                        <li><a href="#">Long Journey</a><i class="las la-arrow-right"></i></li>
                        <li><a href="#">Luggage Transport</a><i class="las la-arrow-right"></i></li>
                    </ul>
                </div>
                <div class="sidebar-widget banner">
                    <div class="banner-info">
                        <a href="/contact"><img class="logo" src="assets/img/logo-light.png" alt="logo"></a>
                        <h3>Feel your journey with <span>Ridek!</span></h3>
                        <p>Everything your taxi business needs is already here!</p>
                        <h2 class="discount"><span>-60%</span> Off Today!</h2>
                        <a href="/contact" class="default-btn">Get Your Offer Now</a>
                    </div>
                </div>
                <!--                    <div class="sidebar-widget">-->
                <!--                        <div class="widget-title">-->
                <!--                            <h3>Tags</h3>-->
                <!--                        </div>-->
                <!--                        <ul class="tags">-->
                <!--                            <li><a href="#">business</a></li>-->
                <!--                            <li><a href="#">marketing</a></li>-->
                <!--                            <li><a href="#">startup</a></li>-->
                <!--                            <li><a href="#">design</a></li>-->
                <!--                            <li><a href="#">consulting</a></li>-->
                <!--                            <li><a href="#">strategy</a></li>-->
                <!--                            <li><a href="#">development</a></li>-->
                <!--                            <li><a href="#">tips</a></li>-->
                <!--                            <li><a href="#">Seo</a></li>-->
                <!--                        </ul>-->
                <!--                    </div>-->
                <!--Tags-->
            </div>
        </div>
    </div>

</section>
<!--/.service-details-->

<%-include('../pages/footer')%>
<!--/.footer-section-->

<div id="scrollup">
    <button id="scroll-top" class="scroll-to-top">
        <i class="las la-arrow-up"></i>
    </button>
</div>
<!--scrollup-->

<div class="dl-cursor">
    <div class="cursor-icon-holder"><i class="las la-times"></i></div>
</div>
<!--/.dl-cursor-->

<!--jQuery Lib-->
<%-include('../pages/scripts')%>
</body>


<!-- Mirrored from html.dynamiclayers.net/dl/ridek/service-details.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jul 2024 06:41:29 GMT -->
</html>
