<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <%-include('../pages/headerFiles')%>

</head>
<body>
<%-include('../pages/header')%>






<section class="page-header">
    <div class="page-header-shape"></div>
    <div class="container">
        <div class="page-header-info">
            <h4>Testimonials!</h4>
            <h2>Our passengers <span>reviews</span></h2>
            <p>Everything your taxi business <br>needs is already here! </p>
        </div>
    </div>
</section>
<!--/.page-header-->

<section class="testimonial-section-2 bg-grey padding">
    <div class="container">
        <div class="swiper-outside testi-pagination">
            <div class="testimonial-carousel-2 swiper-container">
                <div class="swiper-wrapper">
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="quote-icon"><i class="las la-quote-right"></i></div>
                            <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                            <div class="testi-author">
                                <div class="author-thumb"><img src="assets/img/comment-1.png" alt="author"></div>
                                <div class="author-info">
                                    <h3>Eredrik Johanson <span>Financial .INC</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="quote-icon"><i class="las la-quote-right"></i></div>
                            <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                            <div class="testi-author">
                                <div class="author-thumb"><img src="assets/img/comment-2.png" alt="author"></div>
                                <div class="author-info">
                                    <h3>Mauricio Fernández <span>Financial .INC</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-slide">
                        <div class="testi-item">
                            <div class="quote-icon"><i class="las la-quote-right"></i></div>
                            <p>Good to have transportation available in places and times it is otherwise hard to find, but the app has always been a bit difficult to use especially how it works or doesnt with large font phone settings.</p>
                            <div class="testi-author">
                                <div class="author-thumb"><img src="assets/img/comment-3.png" alt="author"></div>
                                <div class="author-info">
                                    <h3>Javier F. Arébalo <span>Financial .INC</span></h3>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="swiper-pagination text-center"></div><!-- Carousel Dots -->
        </div>
    </div>
</section>
<!--/.testimonial-section-->

<%-include('../pages/footer')%>
<!--/.footer-section-->

<div id="scrollup">
    <button id="scroll-top" class="scroll-to-top">
        <i class="las la-arrow-up"></i>
    </button>
</div>
<!--scrollup-->

<div class="dl-cursor">
    <div class="cursor-icon-holder"><i class="las la-times"></i></div>
</div>
<!--/.dl-cursor-->



<%-include('../pages/scripts')%>
</body>

<!-- Mirrored from html.dynamiclayers.net/dl/ridek/testimonials.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jul 2024 06:41:33 GMT -->
</html>
