<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->


<!-- Mirrored from html.dynamiclayers.net/dl/ridek/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jul 2024 06:41:26 GMT -->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Ridek Online Taxi Booking HTML5 Template">
    <meta name="author" content="DynamicLayers">

    <title>Ridek - Online Taxi Booking Service HTML5 Template</title>

    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.png">

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/animate.min.css">
    <link rel="stylesheet" href="assets/css/fontawesome.min.css">
    <link rel="stylesheet" href="assets/css/line-awesome.min.css">
    <link rel="stylesheet" href="assets/css/keyframe-animation.css">
    <link rel="stylesheet" href="assets/css/jquery.datetimepicker.min.css">
    <link rel="stylesheet" href="assets/css/nice-select.css">
    <link rel="stylesheet" href="assets/css/venobox.min.css">
    <link rel="stylesheet" href="assets/css/swiper.min.css">
    <link rel="stylesheet" href="assets/css/elements.css">
    <link rel="stylesheet" href="assets/css/header.css">
    <link rel="stylesheet" href="assets/css/slider.css">
    <link rel="stylesheet" href="assets/css/blog.css">
    <link rel="stylesheet" href="assets/css/main.css">
    <link rel="stylesheet" href="assets/css/responsive.css">
</head>

<body>

<div class="site-preloader">
    <div class="car">
        <div class="strike"></div>
        <div class="strike strike2"></div>
        <div class="strike strike3"></div>
        <div class="strike strike4"></div>
        <div class="strike strike5"></div>
        <div class="car-detail spoiler"></div>
        <div class="car-detail back"></div>
        <div class="car-detail center"></div>
        <div class="car-detail center1"></div>
        <div class="car-detail front"></div>
        <div class="car-detail wheel"></div>
        <div class="car-detail wheel wheel2"></div>
    </div>
</div>
<!--/.site-preloader-->

<%-include('../pages/header')%>
<!--/.main-header-->

<div id="popup-search-box">
    <div class="box-inner-wrap d-flex align-items-center">
        <form id="form" action="#" method="get" role="search">
            <input id="popup-search" type="text" name="s" placeholder="Type keywords here..." />
            <button id="popup-search-button" type="submit" name="submit">
                <i class="las la-search"></i>
            </button>
        </form>
        <div class="search-close"><i class="las la-times"></i></div>
    </div>
</div>
<!--/.popupsearch-box-->
<div id="searchbox-overlay"></div>

<div id="popup-sidebox" class="popup-sidebox">
    <div class="sidebox-content">
        <div class="site-logo">
            <a href="index.html"><img src="assets/img/logo-light.png" alt="logo" /></a>
        </div>
        <p>Everything your taxi business needs is already here! Ridek, a theme
            made for taxi service companies.</p>
        <ul class="sidebox-list">
            <li class="call"><span>Call for ride:</span>5267-214-392</li>
            <li>
                <span>You can find us at:</span>Halk Street New York, USA - 2386
            </li>
            <li><span>Email now:</span>Info.ridek@mail.com</li>
        </ul>
    </div>
</div>
<!--/.popup-sidebox-->
<div id="sidebox-overlay"></div>

<div class="map-wrapper pt-90">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d8826.923787362664!2d-118.27754354757262!3d34.03471770929568!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x80c2c75ddc27da13%3A0xe22fdf6f254608f4!2sLos%20Angeles%2C%20California%2C%20Hoa%20K%E1%BB%B3!5e0!3m2!1svi!2s!4v1566525118697!5m2!1svi!2s" width="100%" height="400" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
</div><!-- /#google-map -->

<section class="contact-section bd-bottom padding">
    <div class="map"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-details-wrap">
                    <div class="contact-title">
                        <h2>Have Any <span>Questions?</span></h2>
                        <p>Get in touch to discuss your employee wellbeing needs today. Please give us a call, drop us an email or fill out the contact form.</p>
                    </div>
                    <ul class="contact-details">
                        <li><i class="fas fa-map-marker-alt"></i>St. George Street<br>Toronto, Canada</li>
                        <li><i class="fas fa-envelope"></i>hello@themeaster.net <br>navnoor.mahal@mail.utoronto.ca</li>
                        <li><i class="fas fa-phone"></i>(+123) 456 789 101 <br>+1-437-665-1305</li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="contact-form">
                    <form method="post" id="ajax_contact" class="form-horizontal">
                        <div class="contact-title">
                            <h2>Contact With Us! <span></span></h2>
                        </div>
                        <div class="contact-form-group">
                            <div class="form-field">
                                <input type="text" id="firstname" name="firstname" class="form-control" placeholder="First Name" required>
                            </div>
                            <div class="form-field">
                                <input type="text" id="lastname" name="lastname" class="form-control" placeholder="Last Name" required>
                            </div>
                            <div class="form-field">
                                <input type="email" id="email" name="email" class="form-control" placeholder="Email" required>
                            </div>
                            <div class="form-field">
                                <input type="text" id="phone" name="phone" class="form-control" placeholder="Phone Number" required>
                            </div>
                            <div class="form-field message">
                                <textarea id="message" name="message" cols="30" rows="4" class="form-control" placeholder="Message" required></textarea>
                            </div>
                            <div class="form-field">
                                <button onclick="contact()" class="default-btn" type="button">Send Massage</button>
                            </div>
                        </div>
                        <div id="form-messages" class="alert" role="alert"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.contact-section-->

<section class="branches-section bg-grey padding">
    <div class="container">
        <div class="row branches-lists">
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="branches-list">
                    <h3>India </h3>
                    <ul>
                        <li>14/302</li>
                        <li>Link Road, Amritsar</li>
                        <li><a href="#">+91 9876543211</a></li>
                        <li><a href="#">noormahal@gmail.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="branches-list">
                    <h3>Canada</h3>
                    <ul>
                        <li>St George Street</li>
                        <li>Toronto, Canada</li>
                        <li><a href="#">+1-437-665-1305</a></li>
                        <li><a href="#">navnoor.mahal@mail.utoronto.ca</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="branches-list">
                    <h3>Hobart</h3>
                    <ul>
                        <li>1 Epping Road</li>
                        <li>North Ryde, NSW 2113</li>
                        <li><a href="#">+61 2 9870 7689</a></li>
                        <li><a href="#">email@example.com</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-3 col-sm-6 sm-padding">
                <div class="branches-list">
                    <h3>Melbourne</h3>
                    <ul>
                        <li>1 Epping Road</li>
                        <li>North Ryde, NSW 2113</li>
                        <li><a href="#">+61 2 9870 7689</a></li>
                        <li><a href="#">email@example.com</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/.branches-section-->

<%-include('../pages/footer')%>
<!--/.footer-section-->

<div id="scrollup">
    <button id="scroll-top" class="scroll-to-top">
        <i class="las la-arrow-up"></i>
    </button>
</div>
<!--scrollup-->

<div class="dl-cursor">
    <div class="cursor-icon-holder"><i class="las la-times"></i></div>
</div>
<!--/.dl-cursor-->

<!--jQuery Lib-->

<script>

    function contact() {

        let firstname = document.getElementById("firstname").value
        let lastname = document.getElementById("lastname").value
        let email = document.getElementById("email").value
        let phone = document.getElementById("phone").value
        let message = document.getElementById("message").value

        let fd = new FormData()
        fd.append("firstname", firstname)
        fd.append("lastname", lastname)
        fd.append("email", email)
        fd.append("phone", phone)
        fd.append("message", message)

        fetch("/contactinfo", {
            method: "POST",
            body: fd
        }).then(res => res.json())
            .then(res => {
                if (res.error) {
                    swal.fire({
                        icon: "error",
                        title: res.message,
                    }); }
                else {
                    document.getElementById("ajax_contact").reset();
                    swal.fire({
                        icon: "success",
                        title: res.message,
                        timer: 1500
                    })
                }
            })
    }
</script>


<%-include('../pages/scripts')%>
</body>


<!-- Mirrored from html.dynamiclayers.net/dl/ridek/contact.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 15 Jul 2024 06:41:26 GMT -->
</html>
