<header class="main-header">
    <div class="top-header">
        <div class="container">
            <div class="top-header-wrap">
                <div class="top-left">
                    <p>Reliable Taxi Service & Transport Solutions!</p>
                </div>
                <div class="top-right">
                    <ul class="top-header-nav">
                        <li><a href="/faq">Help</a></li>
                        <li><a href="/contact2">Support</a></li>
                        <li><a href="/faq">FAQ</a></li>
                    </ul>
                    <ul class="header-social-share">
                        <li><a href="https://www.instagram.com/navnoorsinghmahal/"><i class="fab fa-facebook-f"></i></a></li>

                        <li><a href="https://www.instagram.com/navnoorsinghmahal/"><i class="fab fa-instagram"></i></a></li>
                        <li><a href="https://www.linkedin.com/in/navnoor-singh-mahal-a67488293/"><i class="fab fa-linkedin"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--/.top-header-->
    <div class="mid-header">
        <div class="container">
            <div class="mid-header-wrap">
                <div class="site-logo">
                    <a href="index.html"><img src="assets/img/logo-dark.png" alt="Logo"></a>
                </div>
                <!--/.site-logo-->
                <ul class="header-info">
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-phone-volume"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Call us now</span><a href="tel:4376651305">437-665-1305</a></h3>
                        </div>
                    </li>
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-envelope-open"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>Email now</span>navnoorsingh@gmail.com</h3>
                        </div>
                    </li>
                    <li>
                        <div class="header-info-icon">
                            <i class="las la-map-marked-alt"></i>
                        </div>
                        <div class="header-info-text">
                            <h3><span>St. George Street</span>Toronto, Canada</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!--/.mid-header-->
    <div class="nav-menu-wrapper">
        <div class="container">
            <div class="nav-menu-inner">
                <div class="site-logo">
                    <a href="index.html"><img src="assets/img/logo-dark.png" alt="Logo"></a>
                </div>
                <!--/.site-logo-->
                <div class="header-menu-wrap">
                    <ul class="nav-menu">
                        <li><a href="/home1">Home</a></li>
                        <li><a href="/services-details2">Our Services</a></li>

                        <li class="dropdown_menu">
                            <a href="#">Pages</a>
                            <ul>

                                <li><a href="/testimonials">Customer Reviews</a></li>
                                <li><a href="/faq">Help &amp; Faq's</a></li>

                            </ul>
                        </li>

                        <li><a href="/contact2">Contact</a></li>
                        <li><a href="/signin">Sign in</a></li>
                        <li><a href="/signup1">Sign Up</a></li>

                    </ul>
                </div>
                <div class="menu-right-item">

                    <a href="/signin" class="menu-btn">Book a Taxi</a>
                </div>
                <div class="mobile-menu-icon">
                    <div class="burger-menu">
                        <div class="line-menu line-half first-line"></div>
                        <div class="line-menu"></div>
                        <div class="line-menu line-half last-line"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="dl-cursor">
        <div class="cursor-icon-holder"><i class="las la-times"></i></div>
    </div>
    <!--/.nav-menu-->
</header>